@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1{
  font-family: Montserrat;
  position: relative;
  top: 20px;
  
}
  
.h1-lg{
  font-weight: 600;
  font-size: 50px;
    
}
  
h2{
  font-family: Montserrat;
  position: relative;
  top: 140px;
  
}
  
.h2-lg{
  font-weight: 600;
  font-size: 50px;
  
}

a{
  font-family: Roboto;
  color: #1532EE;
  text-decoration: none;
}

a:hover{
  color: #1177EA;
}

.negrito{
  font-weight:bold;
}

::placeholder {
  color: black;
  font-weight: bold;
  text-align: center;
}
::-webkit-input-placeholder { /* Edge */
  color: black;
  font-weight: bold;
  text-align: center;
}

button{
  font-family: Roboto;
  font-size:20px;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  background-color: #1532EE;
  border-color: #1532EE;
  color: white;
  position: relative;
  top: 150px;

}

button:hover{
  background-color:  #1177EA;
  border-color: #1177EA;
  color: #000;
}

.form-center{
  max-width: 400px;
  margin: auto;
  font-family: Roboto;
  font-size:large;
  border-radius: 100px;
  height: 40px;
  width: 100%;

}

@media only screen and (max-width: 1280px) {

    .text-center{
        width: 95%;
        position: relative;
        left: 2.5%;
       
      }
    
  }


