<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrinho Compras</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

  <body>

      <!-- NAVBAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/painel-cliente" >Conta Cliente</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuSanduiche" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- BRAND -->

            <div class="collapse navbar-collapse" id="menuSanduiche">
                <!-- Links -->
                <ul class="nav navbar-nav">
                  <li class="nav-item"><a href="produtos" class="nav-link" type="submit" >Ver Produtos</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opções Comprador<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="Opções Comprador">
                      <li class="nav-item active"><a href="carrinhos" class="nav-link" type="submit" >Ver Carrinho de Compras<span class="sr-only">Atual</span></a></li>
                      <li class="nav-item"><a href="pedidos" class="nav-link" type="submit" >Ver Pedidos</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="/sair" class="nav-link" type="submit" >Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						  <h2>Carrinho <b>Compras</b></h2>
					</div>
					<div class="col-sm-6">
						<a th:href="@{/api/efetuar-pedido}" method="get" action="" th:action="@{/api/efetuar-pedido}" class="btn btn-success" data-toggle="submit"><i class="material-icons">shopping_cart_checkout</i> <span>Efetuar Pedido</span></a>
					</div>
          </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
						            <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                  <div th:each="produto: ${produtos}" >
                    <tr>
                        <td th:text="${produto.idProduto}" />
                        <td th:text="${produto.nome}" />
                        <td th:text="${produto.descricao}" />
                        <td th:text="${produto.preco}" />
                        <td>
                            <a th:href="@{#removeCartModal{id}(id=${produto.idProduto})}" class="removeCart" data-toggle="modal"><i class="material-icons" title="Remover do carrinho">remove_shopping_cart</i></a>
                        </td>
                    </tr>
                    <!-- Modal adicionado ao carrinho -->
                    <div th:id="'removeCartModal'+${produto.idProduto}" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <form method="get" action="" th:action="@{/api/remove-carrinho/{id}(id=${produto.idProduto})}" >
                            <div class="modal-header">						
                              <h4 class="modal-title">Remover Produto do Carrinho</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">					
                              <p>Você tem certeza que deseja remover esse produto do seu carrinho de compras?</p>
                              <p class="text-warning"><small>Você pode adicionar ele ao seu carrinho novamente voltando a página de produtos.</small></p>
                            </div>
                            <div class="modal-footer">
                              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                              <input type="submit" class="btn btn-danger" value="Remover">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>