<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerenciar Produtos</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  
  <body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		
		  <!-- BRAND -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:onclick="document.location='painel-vendedor'">Conta Vendedor</a>
		  </div>
			
			
			<!-- Links -->
			<ul class="nav navbar-nav">
			  <li><a href="#" class="sair" type="submit" th:onclick="document.location='historico-vendas-site'">Ver Histórico de Vendas</a></li>
			  <li><a href="#" class="sair" type="submit" th:onclick="document.location='cadastro-vendedor'">Cadastrar Vendedor</a></li>
			  <li><a href="#" class="sair" type="submit" th:onclick="document.location='/">Sair</a></li>
			</ul>            
		</div>
	  </nav>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Listagem <b>Produtos</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Novo Produto</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
						<th>Preço</th>
                        <th>Estoque</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
					<div th:each="produto: ${produtos}">
						<tr>
							<td th:text="${produto.id}" />
							<td th:text="${produto.nome}" />
							<td th:text="${produto.descricao}" />
							<td th:text="${produto.preco}" />
							<td th:text="${produto.estoque}" />
							<td>
								<a th:href="@{#editEmployeeModal{id}(id=${produto.id})}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a th:href="@{#deleteEmployeeModal{id}(id=${produto.id})}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i></a>
							</td>
						</tr>
						<!-- Editar Modal -->
						<div th:id="'editEmployeeModal'+${produto.id}" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<form method="post" th:action="@{/editar-produto/{id}(id=${produto.id})}" >
										<div class="modal-header">						
											<h4 class="modal-title">Editar Produto</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">			
											<div class="form-group">
												<label>Nome</label>
												<input type="text" name="nome" class="form-control" th:value="${produto.nome}" required>
											</div>
											<div class="form-group">
												<label>Descrição</label>
												<textarea class="form-control" name="descricao" th:text="${produto.descricao}" required></textarea>
											</div>
											<div class="form-group">
												<label>Preço</label>
												<input type="number" name="preco" class="form-control" th:value="${produto.preco}" required>
											</div>
											<div class="form-group">
												<label>Estoque</label>
												<input type="number" name="estoque" class="form-control" th:value="${produto.preco}" required>
											</div>					
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
											<input type="submit" class="btn btn-info" value="Salvar">
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- Delete Modal -->
						<div th:id="'deleteEmployeeModal'+${produto.id}" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<form method="post" th:action="@{/deletar-produto/{id}(id=${produto.id})}" >
										<div class="modal-header">						
											<h4 class="modal-title">Deletar Produto</h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">					
											<p>Você tem certeza que deseja apagar esse produto?</p>
											<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
											<input type="submit" class="btn btn-danger" value="Deletar">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </tbody>
            </table>
        </div>
    </div>
	<!-- Cadastrar Modal -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Cadastrar Produto</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nome</label>
							<input type="text" name="nome" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Descrição</label>
                            <textarea class="form-control" name="descricao" required></textarea>
						</div>
						<div class="form-group">
							<label>Preço</label>
							<input type="number" name="preco" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Estoque</label>
							<input type="number" name="estoque" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Cadastrar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>