<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Histórico de Vendas do Site</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

  <body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="painel-vendedor" >Conta Vendedor</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuSanduiche" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- BRAND -->

            <div class="collapse navbar-collapse" id="menuSanduiche">
                <!-- Links -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opções Vendedor<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="Opções Vendedor">
                            <li class="nav-item active"><a href="historico" class="nav-link" type="submit" >Ver Histórico de Vendas<span class="sr-only">Atual</span></a></li>
                            <li class="nav-item" ><a href="gerenciar" class="nav-link" type="submit" >Gerenciar Produtos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="cadastro-vendedor" class="nav-link" type="submit" >Cadastrar Vendedor</a></li>
                    <li class="nav-item"><a href="sair" class="nav-link" type="submit" >Sair</a></li>
                </ul>
            </div>
        </div>
	</nav>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">  
						<h2>Histórico <b>Vendas</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>Valor</th>
                        <th data-toggle="modal">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="venda: ${vendas}">
                        <tr>
                            <td th:text="${venda.id}" />
                            <td th:text="${venda.valor}" />
                            <td>
                                <a th:href="@{#detailsModal{id}(id=${venda.id})}" class="details" data-toggle="modal"><i class="material-icons" title="Informações do pedido">info</i></a>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal detalhes pedido -->
	<div th:id="'detailsModal'+${venda.id}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Detalhes Pedido</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">	
						<div class="form-group">
                            <label style="width:65px;display:inline">ID Nota</label>
                            <input style="width:65px;display:inline" type="text" class="form-control" th:value="${venda.id_nota}" readonly>
                            <label style="width:65px;display:inline" >ID Pedido</label>
                            <input style="width:65px;display:inline" type="text" class="form-control" value="${venda.id}" readonly>
						</div>
                        <div class="modal-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Produto ID</th>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="produto: ${produtos}">
                                        <td th:text="${produto.id}" />
                                        <td th:text="${produto.nome}" />
                                        <td th:text="${produto.descricao}" />
                                        <td th:text="${produto.preco}" />
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <label>Nome:</label>
                            <p style="display: inline" th:text="${venda.comprador_nome}"></p>
                            </br>
                            <label>CPF:</label>
                            <p style="display: inline" th:text="${venda.comprador_cpf}"></p>
                            </br>
                            <label>Endereço:</label>
                            <p style="display: inline" th:text="${venda.comprador_endereco}"></p>
                            </br></br>
                        </div>
                        <div class="form-group">
                            <label>Total Pedido</label>
                            <input style="width:70px;display:inline" type="text" class="form-control pull-right" th:value="${venda.valor}" readonly>
                        </div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar">
					</div>
				</form>
			</div>
		</div>
	</div>
    </body>
</html>