<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="" th:href="@{bootstrap.min.css}">
  <link rel="stylesheet" href="" th:href="@{login.css}">
  <title> Login </title>

</head>

<body>

  <div class="text-center mt-5">
    <a href="index.html"> <h1 class="h1-lg">Easy Stock</h1> </a>
    <h2 class="h2-lg"> Entrar </h2>
    <form method="post" action="autentica-login.html" class="form-center-signin">
      <div class="input-container">
        <input type="text" name="usuario" id="usuario" class="input" placeholder="Usuário" required>
      </div>
      <div class="input-container">
        <input type="password" name="senha" id="senha" class="input" placeholder="Senha" required> 
      </div>
      <button type="submit"> Login </button>
      <div class="input-container-h5 mt-3">
        <h5><span class="negrito"> Não possui uma conta? <a th:href="@{redirect}" class="text"> Cadastre-se </a> </span> </h5> <!-- th href é o endpoint destino-->
      </div>
    </form>
  </div>
  
  <script src="js/bootstrap.bundle.min.js"> </script>

</body>
</html>
