<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="" th:href="@{bootstrap.min.css}">
  <link rel="stylesheet" href="" th:href="@{painel.css}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
  <title> Painel Vendedor </title>

</head>

<body>

  <div class="text-center mt-5">
    <a th:href="@{/}" > <h1 class="h1-lg"> Easy Stock </h1> </a>
    <h2 class="h2-lg"> Painel Vendedor </h2>
    <div class="form-center">
      <div class="input-container mt-4">
        <button onclick="document.location='sair'"> Sair Conta </button>
      </div>
      <div class="input-container mt-4">
        <button onclick="document.location='vendedor/gerenciar'"> Gerenciar Produtos </button>
      </div>
      <div class="input-container mt-4">
        <button onclick="document.location='vendedor/historico'"> Ver Histórico de Vendas do Site </button>
      </div>
      <div class="input-container mt-4">
        <button onclick="document.location='vendedor/cadastro-vendedor'"> Cadastrar Novo Vendedor </button>
      </div>   
    </div>
  </div>

</body>
</html>
