<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"></html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Pedidos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

  <body>

      <!-- NAVBAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/painel-cliente" >Conta Cliente</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuSanduiche" aria-expanded="false">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- BRAND -->

            <div class="collapse navbar-collapse" id="menuSanduiche">
                <!-- Links -->
                <ul class="nav navbar-nav">
                  <li class="nav-item"><a href="produtos" class="nav-link" type="submit" >Ver Produtos</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opções Comprador<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="Opções Comprador">
                        <li class="nav-item"><a href="carrinho" class="nav-link" type="submit" >Ver Carrinho de Compras</a></li>
                        <li class="nav-item active"><a href="pedidos" class="nav-link" type="submit" >Ver Pedidos<span class="sr-only">Atual</span></a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="/sair" class="nav-link" type="submit" >Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Lista <b>Pedidos</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID Pedido</th>
                        <th>Valor</th>
                        <th>Pagamento</th>
                        <th data-toggle="modal">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="pedido: ${pedidos}" >
                        <tr>
                            <td th:text="${pedido.idPedido}" />
                            <td th:text="${pedido.orcamento}" />
                            <td th:if="${pedido.pagamento_status == 'Pendente'}" style="color:goldenrod">Pendente</td>
                            <td th:if="${pedido.pagamento_status == 'Pago'}" style="color:green">Pago</td>
                            <td>
                                <a th:if="${pedido.pagamento_status == 'Pendente'}" th:href="@{#detailsModal{id}(id=${pedido.id})}" class="details" data-toggle="modal"><i class="material-icons" title="Detalhes do pedido">view_list</i></a>
                                <a th:if="${pedido.pagamento_status == 'Pendente'}" th:href="@{#payModal{id}(id=${pedido.id})}" class="pay" data-toggle="modal"><i class="material-icons" title="Pagar PIX">pix</i></a>
                                <a th:if="${pedido.pagamento_status == 'Pago'}" th:href="@{#viewNoteModal{id}(id=${pedido.id})}" class="viewNote" data-toggle="modal"><i class="material-icons" title="Ver nota fiscal">request_quote</i></a>
                            </td>
                        </tr>
                        <!-- Modal detalhes pedido -->
                        <div th:if="${pedido.pagamento_status == 'Pendente'}" th:id="'detailsModal'+${produto.idProduto}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form>
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Detalhes Pedido</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">	
                                            <div class="form-group">
                                                <label style="width:65px;display:inline" >ID Pedido</label>
                                                <input style="width:65px;display:inline" type="text" class="form-control" th:value="${pedido.idPedido}" readonly>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Produto ID</th>
                                                            <th>Nome</th>
                                                            <th>Descrição</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>
                                                </div>
                                                <div>
                                                    <tr th:each="produto: ${produtos}">
                                                        <td th:text="${produto.idProduto}" />
                                                        <td th:text="${produto.nome}" />
                                                        <td th:text="${produto.descricao}" />
                                                        <td th:text="${produto.preco}" />
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="form-group">
                                                <label>Total Pedido</label>
                                                <input style="width:70px;display:inline" type="text" class="form-control pull-right" th:value="${pedido.valor}" readonly>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal nota fiscal -->
                        <div th:if="${pedido.pagamento_status == 'Pago'}" th:id="'viewNoteModal'+${produto.id}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form>
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Dados Nota Fiscal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">	
                                            <div class="form-group">
                                                <label style="width:65px;display:inline">ID Nota</label>
                                                <input style="width:65px;display:inline" type="text" class="form-control" th:value="${pedido.id_nota}" readonly>
                                                <label style="width:65px;display:inline" >ID Pedido</label>
                                                <input style="width:65px;display:inline" type="text" class="form-control" th:value="${pedido.id_pedido}" readonly>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Produto ID</th>
                                                            <th>Nome</th>
                                                            <th>Descrição</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>
                                                </div>
                                                <div>
                                                    <tr th:each="produto: ${produtos}">
                                                        <td th:text="${produto.id}" />
                                                        <td th:text="${produto.nome}" />
                                                        <td th:text="${produto.descricao}" />
                                                        <td th:text="${produto.preco}" />
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="form-group">
                                                <label>Total Pedido</label>
                                                <input style="width:70px;display:inline" type="text" class="form-control pull-right" th:value="${pedido.valor}" readonly>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal pagamento -->
                        <div th:if="${pedido.pagamento_status == 'Pendente'}" th:id="'payModal'+${produto.id}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="post" action="" th:action="@{/api/pagar-pedido/{id}(id=${pedido.id})}" >
                                        <div class="modal-header">						
                                            <h4 class="modal-title">Efetuar Pagamento</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">					
                                            <p>Deseja realizar o pagamento do pedido?</p>
                                            <p class="text-warning"><small>Uma cobrança sera feita por PIX.</small></p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                            <input type="submit" class="btn btn-success" value="Pagar">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>