@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

h1{
  font-family: Montserrat;
  position: relative;
  top: 20px;

}

.h1-lg{
  font-weight: 600;
  font-size: 50px;

}

h2{
  font-family: Montserrat;
  position: relative;
  top: 140px;

}

.h2-lg{
  font-weight: 600;
  font-size: 50px;
}

p{
  font-family: Roboto;
  
}

h5{
  font-family: Roboto;

}

a{
  font-family: Roboto;
  color: #1532EE;
  text-decoration: none;

}

a:hover{
  color: #1177EA;

}

::placeholder {
  color: black;
  font-weight: bold;
  text-align: center;

}
::-webkit-input-placeholder { /* Edge */
  color: black;
  font-weight: bold;
  text-align: center;

}

button{
  font-family: Roboto;
  font-size:20px;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  background-color: #1532EE;
  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  top: 150px;
  
}
  
button:hover{
  background-color:  #1177EA;
  color: #000;
  
}

.input{
  max-width: 500px;
  margin: auto;
  font-family: Roboto;
  font-size:large;
  border-radius: 100px;
  border: 1px solid #767676;
  height: 40px;
  width: 100%;
  padding: 0px 20px;
}

.form-center-signin{
  max-width: 500px;
  margin: auto;
  font-family: Roboto;
  font-size:large;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  
}

.input-container {
  display: flex;
  width: 100%;
  position: relative;
  top: 160px;
  margin-bottom: 30px;
  
}

.input-container-h5 {
  width: 100%;
  position: relative;
  top: 160px;
  margin-bottom: 30px;
  text-align: center;
  
}

@media only screen and (max-width: 1280px) {

  .text-center{
      width: 95%;
      position: relative;
      left: 2.5%;
     
    }
  
}